* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App {
  height: 100vh;
  background: #16222a;
  background: -webkit-linear-gradient(to right, #262f34, #16222a);
  background: linear-gradient(to right, #203641, #16222a);
}

nav {
  height: 70px;
  background-color: #595cff;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #252729, #141e30);
  background: linear-gradient(to right, #242628, #141e30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.logo-text {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 2px;
  /* color: #595cff; */
}
.nav-items {
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
  display: inline-block;
}
.nav-items:hover {
  color: #595cff;
  transition: 0.8s all ease;
}

.my-account {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #595cff;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-search-bar {
  margin-top: 8px;
  margin-left: 15px;
  cursor: pointer;
}

.nav-bottom-box {
  height: 30px;
  background-color: #595cff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 50px;
  /* background: #16222a;
  background: -webkit-linear-gradient(to right, #1d1d1e, #1e2124);
  background: linear-gradient(to right, #2c2626, #11232f); */
}
.nav-bottom-box p {
  color: white;
  font-size: 10.5px;
  margin-top: 15px;
  font-family: "Poppins";
  font-weight: 400;
}
.bottom-nav-bar {
  height: 40px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #141e30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

@media only screen and (max-width: 460px) {
  nav {
    height: 60px;
    padding: 0 15px;
  }
  .nav-items,
  .nav-search-bar {
    display: none;
  }
  .bottom-nav-bar {
    display: flex;
    padding: 25px;
  }
  .nav-bottom-box {
    height: 30px;
    background-color: #595cff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
  }
  .nav-bottom-box p {
    color: white;
    font-size: 8.5px;
    margin-top: 15px;
    font-family: "Poppins";
    font-weight: 400;
  }
}
